$primaryBg: #1f1f1f;
$secondaryBg: #222222;
$ternaryBg: #1c1c1c;

$primaryBorder: #333333;
$accent: rgb(230, 191, 62);

$primaryText: #dddddd;     

$white: #ffffff;

//forms
$inputBg: $secondaryBg;

//status
$statusPaidBg: #aed6ae;
$statusPendingBg: #a0c5e7;
$statusUnpaidBg: rgb(235, 161, 161);